@tailwind base;
@tailwind components;
@tailwind utilities;

.heroBg {
  background-image: url("../public/heroBg.svg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}
