@tailwind base;
@tailwind components;
@tailwind utilities;

.hero-bg {
  background-image: url();
}

.blog-icons-cont {
  background: linear-gradient(180deg, #fff 0%, #f4f4f4 100%), #f8f8f8;
}

.card-icon-cont {
  background: linear-gradient(180deg, #fff 0%, #f4f4f4 100%);
}
